@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
  background: #000; /* Set background to black */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior-y: contain; /* Added to prevent scroll bumping */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
